<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="style.css">

    <title>Shopee</title>
  </head>
  <body>

    <section class="sections">
      <h1>Home</h1>
      <div class="searchBar">
        <input type="text" name="" value="">
      </div>
    </section>
    <section class="sections">
      <div class="grid">
        <% products.map(product => { %>
          <div>
            <img src=<%=product.image%> class="product-img" alt="">
            <h3> <%=product.title%> </h3>
          </div>
        <% })%>
      </div>
    </section>
  </body>
</html>
