<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="style.css">

    <title>E-commerce</title>
  </head>
  <body>

    <div class="container">
      <section class="sections">
        <a href="/">E-commerce</a>
        <form class="searchBar center" action="/" method="POST">
          <select class="" name="category">
             <option value="all" selected>all</option>
             <option value="men's clothing">men's clothing</option>
             <option value="jewelery">jewelery</option>
             <option value="electronics">electronics</option>
             <option value="women's clothing">women's clothing</option>
          </select>
          <input type="text" name="search_input" value="">
          <input type="submit" name="button" value="search">
        </form>
      </section>
      <section class="sections">
        <div class="grid center">
          <% products.map(product => { %>
            <div>
              <img src="<%= product.image %>" class="product-img" alt="">
              <h3><%=product.title%></h3>
              <h4>$<%=product.price%></h4>
              <button type="button" name="button">Add to cart</button>
            </div>
          <% })%>
        </div>
      </section>
    </div>
  </body>
</html>
