<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/style.css">

    <title>E-commerce</title>
  </head>
  <body>

    <div class="container">
      <section class="sections">
        <h1>E-commerce</h1>
        <form class="searchBar center" action="/search" method="POST">
          <select class="" name="category">
             <option value="men's clothing">men's clothing</option>
             <option value="jewelery">jewelery</option>
             <option value="electronics">electronics</option>
             <option value="women's clothing">women's clothing</option>
          </select>
          <input type="text" name="" value="">
          <input type="submit" name="button" value="search">
        </form>
      </section>
      <section class="sections">
        <ul class="center search-list">
            <li>
              <img src="" class="product-img" alt="">
              <h3></h3>
              <h4></h4>
            </li>
        </ul>
      </section>
    </div>
  </body>
</html>
